.active-button {
  color: var(--primary-title-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.main-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.main-item {
  &:not(:last-child) {
    margin-right: 8px;
}
}
.main-list-secondary {
  margin-bottom: -30px;
  @media screen and (min-width:768px) {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  }
}
.main-item-secondary {
  margin-bottom: 30px;
  width: 100%;
  @media screen and (min-width:768px) {
    flex-basis: calc(100% / 2 - 30px);
    margin-right: 30px;
  }
  @media screen and (min-width:1200px) {
    flex-basis: calc(100% / 3 - 30px);
  }
}
.main-link {
  display: inline-block;
  transition: box-shadow var(--transition-duration) var(--transition-timing-function);
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
}
.main-top-wrapper {
  position: relative;
  overflow: hidden;
}
.main-top-text {
  position: absolute;
  top: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--backgrond-item-color);
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  height: 100%;
  transform: translateY(101%);
  transition: transform var(--transition-duration) var(--transition-timing-function);
  .main-link:hover &,
  .main-link:focus & {
    transform: translateY(0);
}
}
.main-item-bottom {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}
.main-btn.btn {
  color: var(--primary-title-color);
  background-color: var(--accent-color);
}
.main-title-secondary {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-title-color);
  margin-bottom: 4px;
}
.main-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}