.works {
  @media screen and (max-width:1199px) {
    display: none;
  }
}
.works-list {
  display: flex;
  margin-right: -30px;
}
.works-list__item {
  position: relative;
  flex-basis: calc(100% / 3 - 30px);
  margin-right: 30px;
}
.works-list__wrapper {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}
.works-list__title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-title-color);
}