.modal {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--backgrond-item-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
  @media screen and (min-width:768px) {
    width: 450px;
    height: 609px;
  }
  @media screen and (min-width:1200px) {
    width: 528px;
    height: 581px;
  }
}
.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: transparent;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 1px solid #0000001a;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  &:focus .button-icon,
  &:hover .button-icon {
  fill: var(--accent-color);
}
}
.button-icon {
  width: 11px;
  height: 11px;
  transition: fill var(--transition-duration) var(--transition-timing-function);
}

.modal-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-title-color);
  margin-bottom: 12px;
}
.modal-field {
  margin-bottom: 10px;
}
.input-label {
  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  display: block;
  margin-bottom: 4px;
}
.input-wrapper {
  position: relative;
  display: block;
}
.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  padding-right: 10px;
  outline: none;
  transition: border-color var(--transition-duration) var(--transition-timing-function);
  &:focus,
  &:hover {
    border-color: var(--accent-color);
}
  
}
.input-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill var(--transition-duration) var(--transition-timing-function);
    .modal-input:focus + &,
    .modal-input:hover + & {
      fill: var(--accent-color);
}
}
.modal-text {
  margin-bottom: 20px;
}
.modal-textarea {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 16px 12px;
  outline: none;
  transition: border-color var(--transition-duration) var(--transition-timing-function);
  &:focus,
  &:hover {
    border-color: var(--accent-color);
}
}

.check-text {
  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  @media screen and (min-width:1200px) {
    font-size: 14px;
    line-height: 1.71;
  }
    span {
      width: 16px;
      height: 15px;
      border: 2px solid var(--secondary-title-color);
      border-radius: 2px;
      margin-right: 8px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: border-color var(--transition-duration) var(--transition-timing-function);
}
}
.modal-checkbox {
  &:hover + .check-text span,
  &:focus + .check-text span {
    border-color: var(--accent-color);
}
  &:checked + .check-text span {
    background-color: var(--accent-color);
    border: none;
}
}
.check-link {
  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: var(--accent-color);
  margin-left: 2px;
  @media screen and (min-width:1200px) {
    font-size: 14px;
    line-height: 1.71;
  }
}
.modal-btn {
  display: block;
  margin: 0 auto;
  padding: 10px 55px 10px 56px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: bold;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--primary-title-color);
  transition: background-color var(--transition-duration) var(--transition-timing-function);
  &:hover,
  &:focus {
    background-color: #188ce8;
}
}

